@import '@/styles/variables';

.title {
  text-align: center;
  padding-block: 3rem 1.5rem;
  font-weight: bold;
  font-size: 6rem;
  color: $color-green-correct;

  span {
    color: $color-yellow-present;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  border: 3px solid $color-grey-null;
  padding: 2rem;
  border-radius: 1rem;
  width: fit-content;
}

.square {
  display: grid;
  place-items: center;
  width: 64px;
  aspect-ratio: 1;
  background-color: $color-grey-null;
  border-radius: 10px;
  font-size: 2.25rem;
  font-weight: bold;
  color: $color-background;
  text-transform: uppercase;

  &.wrong {
    background-color: $color-grey-wrong;
  }

  &.correct {
    background-color: $color-green-correct;
  }

  &.present {
    background-color: $color-yellow-present;
  }

  &.disabled {
    opacity: 0.1;
  }

  &.highlighted {
    border: 4px solid white;
  }
}

.line {
  display: flex;
  gap: .5rem;

  &.invisible {
    opacity: 0;
  }
}